@import "../../App.scss";
.navbar-expand-lg {
  justify-content: center;
  &.bg-dark {
    background-color: $black !important;
  }
  .container {
    padding: 0;
    .nav-link {
      text-transform: capitalize;
      font-family: "Roboto";
      font-style: normal;
      font-size: 16px;
      line-height: 1.36;
      padding-left: 1rem;
      padding-right: 1rem;
      color: $white;
    }
    .shopping-cart {
      color: $white;
    }
  }
}
