@import "../../../../App.scss";

.fa-primary {
  padding: 6.5px 19px;
  border-radius: 3px;
  background-color: $primary;
  color: $white;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  height: 37px;
  text-transform: capitalize;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.fa-black {
  padding: 6.5px 19px;
  border-radius: 3px;
  background-color: $black;
  color: $white;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  height: 37px;
  text-transform: capitalize;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}
