@import "../../../../App.scss";

.fa-primary {
  padding: 6.5px 15px;
  border-radius: 1px;
  background-color: $primary;
  color: $white;
  font-family: "Roboto";

  &:hover {
    background-color: $black;
  }
}

.fa-black {
  padding: 6.5px 15px;
  border-radius: 1px;
  background-color: $black;
  color: $white;
  font-family: "Roboto";
  &:hover {
    background-color: $primary;
  }
}
